<div id="<%= dom_id hole %>">
  <p>
    <strong>Hole number:</strong>
    <%= hole.hole_number %>
  </p>

  <p>
    <strong>Par:</strong>
    <%= hole.par %>
  </p>

  <p>
    <strong>Handicap:</strong>
    <%= hole.handicap %>
  </p>

  <p>
    <strong>Yardage:</strong>
    <%= hole.yardage %>
  </p>

</div>
